.CardListStyle{
    // display: grid;
    // grid-template-columns: auto auto auto;
    display: flex;
    // flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

// .CardListStyle{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
   
// } 
  
// @media screen and (max-width:400px){
//     .CardListStyle{
//         display: flex;
//          flex-direction: column;
//     } 
// }