.homeStyle{
  background-color: coral;
  border: 1px solid coral;
  
}
.titleStyle{

  text-align: center;
   justify-content: center;
   align-items: center;
   display: flex;
}
.searchStyle{
  display: flex;
  align-items: center;
  justify-content: center;
}

